body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

input {
    padding: 5px;
    margin-right: 5px;
}

button {
    padding: 5px 10px;
    background-color: #1e90ff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0b5ed7;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin: 5px 0;
}
